.App {
  text-align: center;
}

.ace-jsoneditor .ace_variable ,.ace-jsoneditor .ace_string,
 .ace-jsoneditor .ace_constant.ace_language,.ace-jsoneditor .ace_constant.ace_numeric  {
  color:#bbbcbd;
}

.ace-jsoneditor .ace_scroller {
  background-color:#1C1F25;
}

.ace-jsoneditor .ace_gutter {
  background: #1C1F25;
  color: #54575b;
}

.ace_line
 {
    color:#bbbcbd;
    height: 16px;
  }

  .jsoneditor {
    /* color: #1a1a1a; */
    /* border: thin solid #3883fa; */
    /* box-sizing: border-box; */
    /* width: 100%; */
    height: 100%;
    /* position: relative; */
    /* padding: 0; */
    /* line-height: 100%; */
}

.jsoneditor-menu {
    width: 100%;
    /* height: 35px; */
    /* padding: 2px; */
    /* margin: 0; */
    /* box-sizing: border-box; */
    /* color: #ffffff; */
    /* background-color: #3883fa; */
    /* border-bottom: 1px solid #3883fa; */
}

.jsoneditor-menu {
  width: 100%;
  height: 35px;
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;

}



